<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="icon" href="/img/weather.jpeg">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-content">
    {{>headar}}
    <p>{{errorMessage}}</p>
    </div>
    {{>footer}}
</body>
</html>